.App {
  text-align: center;
  padding: 20px;
  background-color: #7b90c4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 50px;
  color: solid black;
}

.controls {
  margin-bottom: 20px;
  width: 900px;
  justify-content: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #a4b3e8;
}
.controls label{
  font-size: 25px;
}

input[type="range"] {
  margin: 10px;
}

button {
  padding: 10px 15px;
  margin: 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  transition: all 0.3s ease;
  border: 2px solid black;
  border-radius: 5px;
}

/* Style for active button */
button.active-button {
  background-color: #7f8edc; 
  color: white;
  font-weight: bold;
}

/* Hover effect */
button:hover {
  background-color: #7f8edc;
}

/* Style for selected buttons */
button.active-button:hover {
  background-color: #7f8edc; 
}

canvas {
  border-radius: 20px;
  border: 2px solid black;
  display: block;
  margin: 0 auto;
  background-color : white;
}
